@font-face {
    font-family: 'Gputeks';
    src: url('fonts/gputeks-bold.eot');
    font-weight: bold;
    font-style: normal;
    }

@font-face {
	    font-family: 'Gputeks';
	    src: url('fonts/gputeks-regular.eot');
	    font-weight: normal;
	    font-style: normal;
	    }


